:root {
	--gradient: linear-gradient( -45deg, #9d0208, #d00000, #dc2f02, #e85d04, #f48c06, #faa307, #ffba08 );
}

.title-container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: var(--gradient);
	background-size: 400%;
	animation: bg-animation 12s infinite alternate;
}

@keyframes bg-animation {
	0% {
		background-position: left;
	}

	100% {
		background-position: right;
	}
}

.main-logo {
	width: 15rem;
	height: 15rem;
}

.title {
	font-weight: 700;
	font-size: 5rem;
	margin: 2rem 0;
	transform: skew(-15deg);
	color: var(--white);
}

.start-btn {
	width: 5rem;
}

	.start-btn a {
		text-decoration: none;
		/* color: ; */
	}
